In [3]:
import georasters as gr

/home/julian/anaconda3/lib/python3.9/site-packages/geopandas/_compat.py:123: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [2]:
NO2=gr.from_file('img_no2_092022_122022.tif')
NO2df=NO2.to_pandas()

In [3]:
NO2df.head(20)

    row   col      True          x          y
0   125  7281  0.000002  48.890809  86.085554
1   125  7282  0.000002  48.922250  86.085554
2   125  7283  0.000002  48.953691  86.085554
3   125  7284  0.000002  48.985132  86.085554
4   125  7285  0.000002  49.016573  86.085554
5   125  7286  0.000002  49.048015  86.085554
6   125  7287  0.000002  49.079456  86.085554
7   125  7288  0.000002  49.110897  86.085554
8   125  7289  0.000002  49.142338  86.085554
9   125  7290  0.000002  49.173779  86.085554
10  125  7291  0.000002  49.205220  86.085554
11  125  7292  0.000002  49.236661  86.085554
12  125  7293  0.000002  49.268102  86.085554
13  125  7294  0.000002  49.299543  86.085554
14  125  7295  0.000002  49.330984  86.085554
15  125  7296  0.000002  49.362425  86.085554
16  126  7272  0.000002  48.607840  86.054113
17  126  7273  0.000002  48.639281  86.054113
18  126  7274  0.000002  48.670722  86.054113
19  126  7275  0.000002  48.702163  86.054113

In [4]:
CH4=gr.from_file('img_ch4_092022_122022.tif')

In [4]:
CH4df=CH4.to_pandas()

In [5]:
CH4df.head(20)

    row   col         True          x          y
0   241  2374  1862.472279 -62.747323  78.113006
1   241  2375  1862.472281 -62.697915  78.113006
2   241  2376  1862.472304 -62.648508  78.113006
3   241  2377  1862.472284 -62.599101  78.113006
4   241  2378  1862.472293 -62.549693  78.113006
5   241  2379  1862.472285 -62.500286  78.113006
6   241  2380  1862.472286 -62.450879  78.113006
7   241  2381  1862.472289 -62.401471  78.113006
8   241  2382  1862.472290 -62.352064  78.113006
9   241  2383  1862.472290 -62.302657  78.113006
10  241  2384  1862.472377 -62.253249  78.113006
11  241  2388  1872.864242 -62.055620  78.113006
12  241  2389  1872.864265 -62.006212  78.113006
13  241  2390  1872.864207 -61.956805  78.113006
14  241  2391  1872.864280 -61.907398  78.113006
15  241  2392  1872.864263 -61.857990  78.113006
16  241  2393  1872.864283 -61.808583  78.113006
17  241  2394  1872.864279 -61.759176  78.113006
18  241  2407  1866.247543 -61.116880  78.113006
19  241  2408  1866.247548 -61.067473  78.113006

In [7]:
CH4df.to_csv('ch4_092022_122022.csv')

In [4]:
import geopandas as gpd

In [10]:
CH4df.shape[0]

8856841

In [9]:
NO2df.shape[0]

58745097

In [ ]:
CH4gdf=CH4.to_geopandas()

In [ ]:
NO2gdf.head(20)